section {
  width: 80%;
  height: 800px;
  background-image: url(https://images.unsplash.com/photo-1610465299993-e6675c9f9efa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  margin: 0 auto;
}

h1 {
  color: white;
  font-size: 100px;
}
