body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  text-align: center;
}
#container {
  display: flex;
  background-color: #003049;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  border: 5px solid #003049;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
}

#container div {
  width: 200px;
  height: 200px;
}

main {
  width: 80%;
  margin: 0 auto;
  border: 5px solid black;
  height: 500px;
  display: flex;
}

main .sidebar {
  background-color: #6930c3;
  flex: 1 2 300px;
}

main .maincontent {
  background-color: #80ffdb;
  flex: 2 800px;
}
